[submodule "new-login-experiment"]
	path = new-login-experiment
	url = https://github.com/Music-Visualization-MQP/new-login-experiment.git
[submodule "supabase-frontend"]
	path = supabase-frontend
	url = https://github.com/Music-Visualization-MQP/supabase-frontend.git
[submodule "mb-docker"]
	path = mb-docker
	url = https://github.com/metabrainz/musicbrainz-docker.git

[submodule "supabase-backend"]
	path = supabase-backend
	url = https://github.com/Music-Visualization-MQP/supabase.git
